body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffc9;
}

h1 {
    color: #8c3905;
    text-align: center;
    padding: 20px 0;
}

form {
    width: 300px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="button"] {
    background-color: #552616;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #b68531;
}
